<div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <app-menu-hamburger></app-menu-hamburger>
    <div class="dropdown" [appDropdown]="'dropdown-user'">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
            <span class="user-icon" fxLayoutAlign="center center">
                <mat-icon fxLayoutAlign="center center">person</mat-icon>
            </span>
            <span class="btn-toggle"><mat-icon fxLayoutAlign="center center">keyboard_arrow_down</mat-icon></span>
        </div>
        <div class="dropdown-content" id="dropdown-user">
            <div class="dropdown-option">
                profil
            </div>
            <div class="dropdown-option" (click)="logout()">
                Déconnexion
            </div>
        </div>
    </div>
</div>