.container {
    width: 100%;
    height: 70px;
    padding: 0 40px 0 30px;
    background: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);

    .toggle-sidebar {
        font-size: 30px;
        color: #636e75;
        font-weight: 500;
        cursor: pointer;
    }

    .user-icon {
        width: 36px;
        height: 36px;
        color: #000000;
        border-radius: 50%;
        outline: 1px solid #636e75;
    }

    .btn-toggle {
        color: #636e75;
    }

    .dropdown-content {
        margin-top: 4px;
    }

}