<div class="page-wrapper" fxLayout="column" fxLayoutGap="24px">
    <span class="goback" fxLayout="row" fxLayoutAlign="start center" appGoBack><span><mat-icon
                fxLayoutAlign="start center">arrow_back</mat-icon></span><span>back</span></span>
    <div class="container " fxLayout="column" fxLayoutGap="40px">
        <span class="title">{{formTitle}}</span>
        <form class="form-container" fxLayout="column" fxLayoutGap="32px">
            <div fxLayout="column" fxLayoutGap="24px">
                <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                    <label for="code">Code de la collectivité <span class="color-danger">*</span></label>
                    <input type="text" id="code" class="form-control" placeholder="Code">
                </div>
                <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                    <label for="name">Nom de la collectivité <span class="color-danger">*</span></label>
                    <input type="text" id="name" class="form-control" placeholder="Nom">
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="24px">
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="24px">
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                        <label for="">Région</label>
                        <mat-form-field class="form-control">
                            <mat-label class="label">Choisir une région</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food">
                                <div *ngFor="let stat of states">
                                    <mat-option [value]="stat.value">{{stat.viewValue}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                        <label for="">Département </label>
                        <mat-form-field class="form-control">
                            <mat-label class="label">Choisir un département</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food">
                                <div *ngFor="let stat of states">
                                    <mat-option [value]="stat.value">{{stat.viewValue}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="24px">
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                        <label for="">Arrondissement</label>
                        <mat-form-field class="form-control">
                            <mat-label class="label">Choisir un arrondissement</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food">
                                <div *ngFor="let stat of states">
                                    <mat-option [value]="stat.value">{{stat.viewValue}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                        <label for="">Commune</label>
                        <mat-form-field class="form-control">
                            <mat-label class="label">Choisir une commune</mat-label>
                            <mat-select [(ngModel)]="selectedValue" name="food">
                                <div *ngFor="let stat of states">
                                    <mat-option [value]="stat.value">{{stat.viewValue}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-action" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                <button class="btn  btn-form-cancel" appGoBack>Annuler</button>
                <button class="btn btn-form-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>