
.accordion {
  min-height: 74px;
  border-radius: 19px;
  border: 1px solid rgba(213, 160, 7, 0.30);
  background: #FFF;
  padding: 0 30px;
  &-active {
    border: 1.5px solid #D5A007;
  }
  .accordion-header {
    height: 74px;
    cursor: pointer;
    .accordion-title {
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #252641;
      font-size: 18px;
      font-family: Poppins Medium;
      font-weight: 500;
    }
    .accordion-subtitle {
      color: rgba(37, 38, 65, 0.80);
      font-size: 14px;
      font-family: Poppins;
      font-weight: 500;
      letter-spacing: 0.28px;
    }
    .mat-icon {
      font-weight: bold;
      color: #252641;
    }


    &-active {
      .accordion-title {
        color: #D5A007;
      }
      .icon-action {
        color: #D5A007;
      }
    }
  }
  .accordion-body {
    box-sizing: border-box;
    padding-bottom: 35px;
  }
  .closed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  .open {
    height: auto;
    transition: height 0.3s ease-in;
  }

}
