<div class="page-wrapper container-wrapper detail-container" fxLayout="column" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutGap="7px">
        <span class="title">Gestion des services</span>
        <span class="sub-title">Informations sur un service</span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="12px">
        <button class="btn btn-primary" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>check</mat-icon><span>Changer l'état de validation</span></button>
        <button class="btn btn-success" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>screen_share</mat-icon> <span>Publié</span></button>
        <button class="btn btn-danger" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>stop_screen_share</mat-icon>
            <span>Dépublié</span></button>
        <button class="btn btn-warning" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>edit</mat-icon><span>Modifier</span></button>
        <button class="btn btn-outline-primary" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>public</mat-icon><span>Voir sur le portail</span></button>
    </div>
    <div class="tab active gap-32">
        <ul class="list-group">
            <li class="item">
                <p fxLayout="column" fxLayoutGap="8px">
                    <span class="txt-bolder">Titre de l'annonce : </span>
                    <span class="txt-light">Port de Dakar : la modernisation du terminal vraquier améliore sensiblement
                        les délais de manutention</span>
                </p>
            </li>
            <li class="item">
                <div fxLayout="column" fxLayoutGap="16px">
                    <p fxLayout="column" fxLayoutGap="8px">
                        <span class="txt-bolder">Contenu de l'annonce : </span>
                        <span class="txt-light">Le Centre de Recherches et de Documentation du Sénégal (CRDS) est un
                            organisme public rattaché à l’Université Gaston
                            Berger de Saint louis. Il met son fonds documentaire à la disposition des usagers.</span>
                    </p>
                    <!-- <p fxLayout="column" fxLayoutGap="8px">
                        <span class="txt-bolder">Source : </span>
                        <span class="txt-light">Le Soleil</span>
                    </p> -->
                </div>
            </li>
            <li class="item">
                <p>
                    <span class="txt-bolder">Descriptif :</span>
                </p>
            </li>
        </ul>
        <div class="top" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start start">
            <ul fxFlex="50" class="list-group">
                <li class="item">
                    <p>
                        <span class="txt-bolder">Sous thèmes: </span>
                        <span class="txt-light"><span class="link">Transports et logistique</span> / <span
                                class="link">Exportations, importations, transit et droits de douane</span> /</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Démarches : </span>
                        <span class="txt-light "><span class="link">Devenir commissionnaire en douane agréé</span> /
                            <span class="link">Déclarer des marchandises en douane</span> /</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Textes de réferences : </span>
                        <span class="txt-light ">
                            <span class="link">Décret relatif à la manutention manuelle des charges</span> / </span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Etat de validation : </span>
                        <span class="txt-light">Validé</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Date de dernière modification : </span>
                        <span class="txt-light">13/12/2011</span>
                    </p>
                </li>
            </ul>
            <ul fxFlex="50" class="list-group">
                <li class="item">
                    <p>
                        <span class="txt-bolder">Est Publié ? : </span>
                        <span class="txt-light  badge badge-success">Oui</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Date de publication :</span>
                        <span class="txt-light">13/12/2011 à 09:07:53</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Observations : </span>
                        <span class="txt-light"></span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Crée par : </span>
                        <span class="txt-light "></span>
                    </p>
                </li>

            </ul>
        </div>
    </div>
</div>