<div class="page-wrapper overview-wrapper" fxLayout="column" fxLayoutGap="40px">
    <div class="top" fxLayout="column" fxLayoutGap="32px">
        <span class="title">Gestion des démarches</span>
        <form [formGroup]="filterForm" fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="search">
                    <input matInput formControlName="search" name="search" type="text" class="form-control"
                        placeholder="Rechercher" (input)="search($event)">
                    <span class="icon"><mat-icon>search</mat-icon></span>
                </div>
                <span class="btn btn-primary" routerLink="create">
                    <span>+</span>
                    <span>Ajouter</span>
                </span>
            </div>
            <div class="filters-container" fxLayout="row wrap">
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="filtre-etat">Filtrer par état</label>
                    <mat-form-field class="form-control">
                        <mat-label class="label">Choisir un état</mat-label>
                        <mat-select (selectionChange)="getDemarches()" id="filtre-etat" formControlName="etat"
                            name="etatPub">
                            <div *ngFor="let state of states">
                                <mat-option [value]="state.value">{{state.viewValue}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="">Filtrer par statut publication</label>
                    <mat-form-field class="form-control">
                        <mat-label class="label">Choisir un état</mat-label>
                        <mat-select (selectionChange)="getDemarches()" id="filtre-etat" formControlName="est_publie"
                            name="etatPub">
                            <div *ngFor="let statut of statuts">
                                <mat-option [value]="statut.value">{{statut.viewValue}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="">Filtrer par statut "à la une"</label>
                    <mat-form-field class="form-control">
                        <mat-label class="label">Choisir un état</mat-label>
                        <mat-select (selectionChange)="getDemarches()" id="filtre-etat" [(ngModel)]="selectedHeadline"
                            formControlName="a_la_une" name="a_la_une">
                            <div *ngFor="let statut of StatutsHeadline">
                                <mat-option [value]="statut.value">{{statut.viewValue}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="">Filtrer par téléprocédure</label>
                    <mat-form-field class="form-control">
                        <mat-label class="label">Choisir un état</mat-label>
                        <mat-select id="filtre-etat" (selectionChange)="getDemarches()" formControlName="teleprocedure"
                            name="teleprocedure">
                            <div *ngFor="let statut of statutProcedure">
                                <mat-option [value]="statut.value">{{statut.viewValue}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </form>
    </div>
    <!-- ############ -->

    <div *ngIf="!dataSource" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dataSource" class="mat-elevation-z8">
        <table class="table" mat-table matSort [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="titre">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Titre </th>
                <td mat-cell *matCellDef="let element"> {{element.titre }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="resume">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Résume </th>
                <td mat-cell *matCellDef="let element"> {{truncateString(element.resume)}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="sous-themes">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Sous-themes </th>
                <td mat-cell *matCellDef="let element">
                    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="6px">
                        <span class="badge badge-primary" *ngFor="let st of element.sous_themes">{{st.libelle}}</span>
                    </div>

                </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="date-modification">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Date derniere modificatio </th>
                <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef> Etat </th>
                <td mat-cell *matCellDef="let element"> {{ element.etat }} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="data-publication">
                <th mat-header-cell *matHeaderCellDef> Est publié ? </th>
                <td mat-cell *matCellDef="let element"> {{ element.est_publie ? 'oui' : 'non' }} </td>
            </ng-container><!-- Symbol Column -->
            <ng-container matColumnDef="observations">
                <th mat-header-cell *matHeaderCellDef> Observations </th>
                <td mat-cell *matCellDef="let element"> {{ truncateString(element.observations) }} </td>
            </ng-container>

            <!-- Options Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="actions-btn">
                    <span class="btn-icon btn--edit" [routerLink]="[element.id]"><mat-icon>edit</mat-icon></span>
                    <span class="btn-icon btn--delete"
                        (click)="handleDeleteUser(element.id)"><mat-icon>delete_outline</mat-icon></span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons
            aria-label="Select page of periodic elements" [length]="totalItems" [pageIndex]="currentPage - 1"
            [pageSize]="pageSize" (page)="changePage($event)">
        </mat-paginator>
    </div>
    <!-- ################### -->
</div>
