<div class="page-wrapper overview-wrapper" fxLayout="column" fxLayoutGap="40px">
    <div class="top" fxLayout="column" fxLayoutGap="32px">
        <span class="title">Descripteurs</span>
        <div fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="search">
                    <input matInput type="text" class="form-control" placeholder="Rechercher" (keyup)="search($event)">
                    <span class="icon"><mat-icon>search</mat-icon></span>
                </div>
                <span class="btn btn-primary" routerLink="create">
                    <span>+</span>
                    <span>Ajouter</span>
                </span>
            </div>
        </div>
    </div>
    <!-- ############ -->

    <div *ngIf="!dataSource" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="dataSource" class="mat-elevation-z8">
        <table class="table" mat-table matSort [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="libelle">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Libellé </th>
                <td mat-cell *matCellDef="let element"> {{element.name.firstname }} </td>
            </ng-container>

            <!-- Options Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="actions-btn">
                    <span class="btn-icon btn--edit" [routerLink]="[element.id]"><mat-icon>edit</mat-icon></span>
                    <span class="btn-icon btn--delete"
                        (click)="handleDeleteUser(element.id)"><mat-icon>delete_outline</mat-icon></span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
    <!-- ################### -->
</div>