<div class="page-wrapper" fxLayout="column" fxLayoutGap="24px">
    <span class="goback" fxLayout="row" fxLayoutAlign="start center" appGoBack><span><mat-icon
                fxLayoutAlign="start center">arrow_back</mat-icon></span><span>back</span></span>
    <div class="container " fxLayout="column" fxLayoutGap="40px">
        <span class="title">{{formTitle}}</span>
        <form class="form-container" fxLayout="column" fxLayoutGap="32px">
            <div fxLayout="column" fxLayoutGap="24px">
                <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                    <label for="demarche-title">Titre <span class="color-danger">*</span></label>
                    <input type="text" id="demarche-title" class="form-control" placeholder="Title...">
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="description">Description <span class="color-danger">*</span></label>
                    <textarea class="form-control" name="" id="description" cols="30" rows="6"></textarea>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="editor">Contenu de l'actualité <span class="color-danger">*</span></label>
                    <angular-editor [(ngModel)]="content" name="angular-editor" id="editor"
                        [config]="editorConfig"></angular-editor>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="url">Lien externe</label>
                    <div class="input-wrapper" fxLayout="row">
                        <span class="text label" fxLayoutAlign="start center">https:\\</span>
                        <input class="form-control" type="text" id="url">
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="32px">
                <span class="title">Autres informations</span>
                <div fxLayout="column" fxLayoutGap="24px">
                    <div fxLayout="row" fxLayoutGap="24px">
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="services-concernés">Sous themes</label>
                            <div class="dropdown" appDropdown="dropdown-sous-theme">
                                <div class="form-control input-with-dropdown" fxLayout="row wrap"
                                    fxLayoutAlign="start center">
                                    <span class="badge badge-primary" *ngFor="let selt of selectedOptions"
                                        fxLayout="row" fxLayoutGap="6px">
                                        <span class="btn-remove" (click)="removeOption(selt)">x</span>
                                        <span>{{selt}}</span>
                                    </span>
                                    <input fxFlex="auto" type="text" id="services-concernés" name="search"
                                        class="form-control" [(ngModel)]="searchTerm" (input)="filterOptions()"
                                        autocomplete="off" autocapitalize="off">
                                </div>
                                <div class="dropdown-content dropdown-content-input" id="dropdown-sous-theme">
                                    <div for="demarche-subtitle" class="dropdown-option"
                                        *ngFor="let opt of filteredOptions" (click)="selectOption(opt)"
                                        [ngClass]="isAllreadySelected(opt)?'is-selected':''">{{opt}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="textes-references">Démarches</label>
                            <div class="dropdown" appDropdown="dropdown-sous-theme">
                                <div class="form-control input-with-dropdown" fxLayout="row wrap"
                                    fxLayoutAlign="start center">
                                    <span class="badge badge-primary" *ngFor="let selt of selectedOptions"
                                        fxLayout="row" fxLayoutGap="6px">
                                        <span class="btn-remove" (click)="removeOption(selt)">x</span>
                                        <span>{{selt}}</span>
                                    </span>
                                    <input fxFlex="auto" type="text" id="textes-references" name="search"
                                        class="form-control" [(ngModel)]="searchTerm" (input)="filterOptions()"
                                        autocomplete="off" autocapitalize="off">
                                </div>
                                <div class="dropdown-content dropdown-content-input" id="dropdown-sous-theme">
                                    <div for="demarche-subtitle" class="dropdown-option"
                                        *ngFor="let opt of filteredOptions" (click)="selectOption(opt)"
                                        [ngClass]="isAllreadySelected(opt)?'is-selected':''">{{opt}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="24px">
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="formulaires">Services administratifs</label>
                            <div class="dropdown" appDropdown="dropdown-sous-theme">
                                <div class="form-control input-with-dropdown" fxLayout="row wrap"
                                    fxLayoutAlign="start center">
                                    <span class="badge badge-primary" *ngFor="let selt of selectedOptions"
                                        fxLayout="row" fxLayoutGap="6px">
                                        <span class="btn-remove" (click)="removeOption(selt)">x</span>
                                        <span>{{selt}}</span>
                                    </span>
                                    <input fxFlex="auto" type="text" id="formulaires" name="search" class="form-control"
                                        [(ngModel)]="searchTerm" (input)="filterOptions()" autocomplete="off"
                                        autocapitalize="off">
                                </div>
                                <div class="dropdown-content dropdown-content-input" id="dropdown-sous-theme">
                                    <div for="demarche-subtitle" class="dropdown-option"
                                        *ngFor="let opt of filteredOptions" (click)="selectOption(opt)"
                                        [ngClass]="isAllreadySelected(opt)?'is-selected':''">{{opt}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="modeles-lettres">Textes de références </label>
                            <div class="dropdown" appDropdown="dropdown-sous-theme">
                                <div class="form-control input-with-dropdown" fxLayout="row wrap"
                                    fxLayoutAlign="start center">
                                    <span class="badge badge-primary" *ngFor="let selt of selectedOptions"
                                        fxLayout="row" fxLayoutGap="6px">
                                        <span class="btn-remove" (click)="removeOption(selt)">x</span>
                                        <span>{{selt}}</span>
                                    </span>
                                    <input fxFlex="auto" type="text" id="modeles-lettres" name="search"
                                        class="form-control" [(ngModel)]="searchTerm" (input)="filterOptions()"
                                        autocomplete="off" autocapitalize="off">
                                </div>
                                <div class="dropdown-content dropdown-content-input" id="dropdown-sous-theme">
                                    <div for="demarche-subtitle" class="dropdown-option"
                                        *ngFor="let opt of filteredOptions" (click)="selectOption(opt)"
                                        [ngClass]="isAllreadySelected(opt)?'is-selected':''">{{opt}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutGap="8px">
                        <label for="observation">Observation </label>
                        <textarea class="form-control" name="observation" id="observation" cols="30" rows="2"
                            placeholder="Ajoutez un observation privée"></textarea>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
                        <div fxLayout="column" fxLayoutGap="8px">
                            <label for="">Derniere date de modification</label>
                            <mat-form-field class="form-control">
                                <mat-label class="label">Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutGap="8px">
                            <label for="">Etat</label>
                            <mat-form-field class="form-control">
                                <mat-label class="label">Favorite food</mat-label>
                                <mat-select [(ngModel)]="selectedValue" name="food">
                                    <div *ngFor="let stat of states">
                                        <mat-option [value]="stat.value">{{stat.viewValue}}</mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-slide-toggle formControlName="est_publie">
                            <span class="label">Cliquez pour publier</span>
                        </mat-slide-toggle>
                    </div>
                </div>
            </div>
            <div class="form-action" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                <button class="btn  btn-form-cancel" appGoBack>Annuler</button>
                <button class="btn btn-form-primary">Enregistrer</button>
            </div>
        </form>
    </div>
</div>