<div class="page-wrapper" fxLayout="column" fxLayoutGap="24px">
    <span class="goback" fxLayout="row" fxLayoutAlign="start center" appGoBack><span><mat-icon
                fxLayoutAlign="start center">arrow_back</mat-icon></span><span>back</span></span>
    <div class="container " fxLayout="column" fxLayoutGap="40px">
        <span class="title">{{formTitle}}</span>
        <form [formGroup]="actualiteForm" class="form-container" fxLayout="column" fxLayoutGap="32px">
            <div fxLayout="column" fxLayoutGap="24px">
                <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="24px">
                    <div fxFlex="75" fxLayout="column" fxLayoutGap="8px">
                        <label for="actualite-title">Titre <span class="color-danger">*</span></label>
                        <input formControlName="titre" type="text" id="actualite-title" class="form-control"
                            placeholder="Title...">
                    </div>
                    <div fxLayout="column" fxLayoutGap="8px">
                        <mat-slide-toggle formControlName="a_la_une">
                            <span class="label">Mettre à la une</span>
                        </mat-slide-toggle>
                    </div>

                </div>

                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="description">Description</label>
                    <textarea formControlName="description" class="form-control" name="" id="description" cols="30"
                        rows="3"></textarea>
                </div>
                <div fxLayout="column" fxLayoutGap="8px">
                    <label for="contenu">Contenu</label>
                    <angular-editor formControlName="contenu" name="angular-editor" id="contenu"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="32px">
                <span class="title">Autres informations</span>
                <div fxLayout="column" fxLayoutGap="24px">
                    <div fxLayout="row" fxLayoutGap="24px">
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="services-concernés">Services concernés</label>
                            <app-multi-select [value]="actualite?.service_administratifs || []"
                                [name]="'service_administratifs'" [form]="actualiteForm"
                                [options]="servicesAdministratifs"></app-multi-select>
                        </div>
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="textes-references">Textes de référence </label>
                            <app-multi-select [value]="actualite?.textes || []" [name]="'textes'" [form]="actualiteForm"
                                [options]="textes"></app-multi-select>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="24px">
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="actualite-subtitle">Sous-thémes <span class="color-danger">*</span></label>
                            <app-multi-select [value]="actualite?.sous_themes || []" [name]="'sous_themes'"
                                [form]="actualiteForm" [options]="sousThemes"></app-multi-select>
                        </div>

                        <div fxFlex="50" fxLayout="column" fxLayoutGap="8px">
                            <label for="actualite-subtitle">Démarches</label>
                            <app-multi-select [value]="actualite?.demarches || []" [name]="'demarches'"
                                [form]="actualiteForm" [options]="demarches"></app-multi-select>
                        </div>
                    </div>

                    <div fxLayout="column" fxLayoutGap="8px">
                        <label for="mot-cles">Mot clés </label>
                        <input type="text" id="mot-cles" formControlName="mot_cle" class="form-control"
                            placeholder="Liste des mots clés pour la recherche">
                    </div>
                    <div fxLayout="column" fxLayoutGap="8px">
                        <label for="observation">Observation </label>
                        <textarea class="form-control" formControlName="observations" name="observation"
                            id="observation" cols="30" rows="2" placeholder="Ajoutez un observation privée"></textarea>
                    </div>
                    <div class="form-image">
                        <input type="file" id="hub-image" accept="image/*" (change)="changePoster($event)">
                        <label for="hub-image" fxLayout="column" fxLayoutGap="8px">
                            <span class="label">Image <span class="color-danger">*</span></span>
                            <div class="image-container">
                                <img *ngIf="mediaType === 'image' && mediaPreview" [src]="mediaPreview"
                                    alt="Image preview">
                                <video *ngIf="mediaType === 'video' && mediaPreview" [src]="mediaPreview" id="poster"
                                    autoplay muted>
                                    Your browser does not support the video tag.
                                </video>
                                <div *ngIf="!mediaPreview" fxLayout="column" fxLayoutAlign="center center"
                                    fxLayoutGap="12px">
                                    <mat-icon>cloud_upload</mat-icon>
                                    <span fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="6px">
                                        <span class="label">Upload Image</span>
                                        <span class="image-size">Media size must be less than 50MB</span>
                                    </span>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">

                        <div fxLayout="column" fxLayoutGap="8px">
                            <label for="">Etat</label>
                            <mat-form-field class="form-control">
                                <mat-label class="label">Choisir un état</mat-label>
                                <mat-select formControlName="etat">
                                    <div *ngFor="let stat of states">
                                        <mat-option [value]="stat.value">{{stat.viewValue}}</mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutGap="8px">
                            <span class="label">Publication</span>
                            <div fxLayout="row" fxLayoutGap="12px">
                                <mat-slide-toggle formControlName="est_publie">
                                    <span class="label">Cliquez pour publier</span>
                                </mat-slide-toggle>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-action" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
                <span class="btn  btn-form-cancel" appGoBack>Annuler</span>
                <button class="btn btn-form-primary" (click)="onSubmit()">Enregistrer</button>
            </div>
        </form>
    </div>
</div>