<div class="container" fxLayout="column" fxLayoutGap="13px">
    <div class="top" fxLayout="column">
        <span class="title">
            Informations
        </span>
        <div class="chart-container"></div>
        <ul class="details-top" fxLayout="column" fxLayoutGap="12px">
            <li class="item" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="label">Salaire net mensuel :</span>
                <span class="value">XOF 475.000</span>
            </li>
            <li class="item" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="label">Acompte autorisé :</span>
                <span class="value">35%</span>
            </li>
            <li class="item" fxLayout="row" fxLayoutAlign="space-between center">
                <span class="label">Iban :</span>
                <span class="value">SN00 0000 0000 0000 0000</span>
            </li>
        </ul>
    </div>
    <div class="bottom" fxLayout="column">
        <span class="title">
            Collaborateur
        </span>
        <div class="details-bottom" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="12px">
            <div class="image-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
                <span>
                    <img src="./assets/img/icon-setting.svg" alt="">
                </span>
                <div class="img-user">
                    <img src="./assets/img/img-user.png" alt="">
                </div>
                <span>
                    <img src="./assets/img/icon-email.svg" alt="">
                </span>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="4px">
                <span class="user-name" fxLayoutAlign="center start">Laurent DIOP</span>
                <span class="user-company" fxLayoutAlign="center start">Agiltoo SN</span>
            </div>
        </div>
        <span class="btn-save" fxLayoutAlign="center center">
            Sauvegarder
        </span>
    </div>
</div>