<div class="form-group" fxFlex>
  <label class="input-group">
    <mat-icon class="mat-icon-search" fxLayoutAlign="start center"
      >search</mat-icon
    >
    <input
      type="text"
      name="search"
      placeholder="Rechercher"
      autocapitalize="off"
      autocomplete="off"
    />
  </label>
  <button class="explore" fxLayoutAlign="start center" fxLayoutGap="8px">
    <span>Explorer</span>
    <mat-icon fxLayoutAlign="start center">keyboard_arrow_down</mat-icon>
  </button>
</div>
