<div *ngIf="hub" class="page-wrapper container-wrapper detail-container" fxLayout="column" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutGap="7px">
        <span class="title">Gestion des hubs</span>
        <span class="sub-title">Informations sur un hubs</span>
    </div>
    <div class="btn-actions" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="12px">
        <button class="btn btn-primary" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>check</mat-icon><span>Changer l'état de validation</span></button>
        <button class="btn btn-success" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>screen_share</mat-icon> <span>Publié</span></button>
        <button class="btn btn-danger" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>stop_screen_share</mat-icon>
            <span>Dépublié</span></button>
        <button class="btn btn-warning" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>edit</mat-icon><span>Modifier</span></button>
        <button class="btn btn-outline-primary" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="4px"><mat-icon>public</mat-icon><span>Voir sur le portail</span></button>
    </div>
    <div class="tab active gap-32">
        <ul class="list-group">
            <li class="item">
                <p fxLayout="column" fxLayoutGap="8px">
                    <span class="txt-bolder">Titre du hub : </span>
                    <span class="txt-light">{{hub.titre}}</span>
                </p>
            </li>
            <li class="item">
                <p fxLayout="column" fxLayoutGap="8px">
                    <span class="txt-bolder">Résumé du hub : </span>
                    <span class="txt-light">{{hub.resume}}</span>
                </p>
            </li>
            <li class="item">
                <div fxLayout="column" fxLayoutGap="8px">
                    <span class="txt-bolder">Descriptif :</span>
                    <div class="txt-light" [innerHTML]="hub.description"></div>
                </div>
            </li>
        </ul>
        <div class="top" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start start">
            <ul fxFlex="50" class="list-group">
                <li class="item">
                    <div>
                        <span class="txt-bolder">Sous thèmes: </span>
                        <p class="txt-light">
                            <span class="link" *ngFor="let st of hub.sous_themes">{{st.libelle}}/</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <span class="txt-bolder">Services administratifs : </span>
                        <p class="txt-light ">
                            <span class="link" *ngFor="let sa of hub.service_administratifs">{{sa.nom}}/</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <div>
                        <span class="txt-bolder">Textes de réferences : </span>
                        <p class="txt-light ">
                            <span class="link" *ngFor="let txt of hub.textes ">{{txt.nom}}/</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Etat de validation : </span>
                        <span class="txt-light">{{hub.etat}}</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Date de dernière modification : </span>
                        <span class="txt-light">13/12/2011</span>
                    </p>
                </li>
            </ul>
            <ul fxFlex="50" class="list-group">
                <li class="item">
                    <p>
                        <span class="txt-bolder">Est Publié ? : </span>
                        <span class="txt-light  badge "
                            [ngClass]="hub.est_publie?'badge-success':'badge-danger'">{{hub.est_publie?'Oui':'Non'}}</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Date de publication :</span>
                        <span class="txt-light">13/12/2011 à 09:07:53</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Observations : </span>
                        <span class="txt-light">{{hub.observations}}</span>
                    </p>
                </li>
                <li class="item">
                    <p>
                        <span class="txt-bolder">Crée par : </span>
                        <span class="txt-light ">{{hub.add_by}}</span>
                    </p>
                </li>

            </ul>
        </div>
    </div>
</div>